<div class="row container-fluid m-3">
    <form [formGroup]="filter" class="d-flex w-75 p-3" (ngSubmit)="getFilter()">
    <input class="form-control w-50 me-2" type="search" placeholder="Search by email..." aria-label="Search" formControlName="mail">
    <select class="form-control w-25  me-2" id="curr" formControlName="type">
        <option>Request type (All)</option>
        <option>Medical</option>
        <option>Travel</option>
        <option>Food</option>
        <option>Entertainment</option>
        <option>Misc</option>
      </select>
    <button class="btn btn-outline-success" type="submit">Search</button>


  </form>
  

 
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Requested By</th>
        <th scope="col">Reimbursement Type</th>
        <th scope="col">Requested Value</th>
        <th scope="col">Approved Value</th>
        <th scope="col">Currency</th>
        <th scope="col">Request Phase</th>
        <th scope="col">Receipt Attached</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection" class="head">
        <td>{{item.date.substring(0, 10)}}</td>
        <td>{{item.creator.email}}</td>
        <td>{{item.reimbursementType}}</td>
        <td>{{item.requestedValue}}</td>
        <td>
          {{item.approvedValue}}
        </td>
        <td>{{item.currency}}</td>
        <td>
          {{item.requestPhase}}
        </td>
        <td>
            <a *ngIf="item.ImagePath!=''||item.ImagePath!=null"  >{{createImgPath(item.imagePath)}}</a>
        </td>
  
        <td >
            <button class="btn-outline-success mb-3"(click)="triggerModal(ApprovemodalData,item)"
            >Approve<img
              style="margin: 0px 5px" height="15"
              src="https://cdn-icons-png.flaticon.com/512/447/447147.png"
          /></button>
        
  <ng-template #ApprovemodalData let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Approve Reimbursement</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
         <div *ngIf="isApproved" class=" alert alert-success alert-dismissible fade show " role="alert ">
            <strong>Success!</strong>The Reimbursement is Edited
            <button (click)="isApproved=!isApproved" type="button " class="close " data-dismiss="alert " aria-label="Close ">
              <span aria-hidden="true ">&times;</span>
            </button>
        </div>
        <div *ngIf="errorMessage!=''" class="alert-danger">*{{errorMessage}}</div>
       
        <form [formGroup]="approve" (ngSubmit)="getApproved(item,item.id)">
         
          <div class="mb-3">
            <label for="ApprovedBy" class="form-label">Approved By*</label>
            <input type="text" class="form-control"formControlName="ApprovedBy" />
          </div>
          <div class="mb-3">
            <label for="ApprovedBy" class="form-label">Approved Amount*</label>
            <input type="number" class="form-control"formControlName="ApprovedAmount" />
          </div>
          <div class="mb-3">
            <label for="ApprovedBy" class="form-label">Internal Notes</label>
            <input type="text" class="form-control"formControlName="InternalNotes" />
          </div>
          
          
    
          <button type="submit" class="btn btn-outline-success"> Approve</button>
        </form> 
      </div>
    </ng-template>

</td><td>
  
          <button class="btn-outline-danger"(click)="triggerModal(RejectmodalData,item)"
            >Reject<img
              style="margin: 0px 5px" height="15"
              src="https://cdn-icons-png.flaticon.com/512/2089/2089650.png"
          ></button>
          <ng-template #RejectmodalData let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Reject Reimbursement</h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
               <div *ngIf="isRejected" class=" alert alert-success alert-dismissible fade show " role="alert ">
                  <strong>Success!</strong>The Reimbursement is Edited
                  <button (click)="isRejected=!isRejected" type="button " class="close " data-dismiss="alert " aria-label="Close ">
                    <span aria-hidden="true ">&times;</span>
                  </button>
              </div>
              <div *ngIf="errorMessage!=''" class="alert-danger">*{{errorMessage}}</div>
             
              <form [formGroup]="reject" (ngSubmit)="getRejected(item,item.id)">
               
                <div class="mb-3">
                  <label for="ApprovedBy" class="form-label">Approved By*</label>
                  <input type="text" class="form-control"formControlName="DeclinedBy" />
                </div>
                <div class="mb-3">
                  <label for="ApprovedBy" class="form-label">Internal Notes</label>
                  <input type="text" class="form-control"formControlName="InternalNotes" />
                </div>
                
                
          
                <button type="submit" class="btn btn-outline-danger"> Reject</button>
              </form> 
            </div>
          </ng-template>
          
          <!-- for edit  -->
  
        </td>
      </tr>
    </tbody>
  </table>